@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(to bottom right, #75acf5, #6caaf7);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.input-group {
  margin-bottom: 2rem;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.item-input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}

.search-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin-bottom: 1rem;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.search-bar {
  width: 100%;
  box-sizing: border-box;
  padding-left: 35px;
}

.item-list {
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 400px;
}

.item {
  background-color: #3b404b;
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-date {
  font-size: 0.8rem;
  color: #a9a9a9;
}

.item-location {
  font-size: 0.8rem;
  color: #a9a9a9;
  font-style: italic;
}

.add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
}

.remove-btn {
  background: none;
  border: none;
  color: #ff6b6b;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
